nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    margin: 0.8vw;
}

.lien{
    font-size: 1.7vw;
    color: aliceblue;
    text-decoration: none;
}